body, html {
  height: 100%;
}

.maincontainer {
  height: 100vh;
}

.image-list{
  height: 95vh;
  overflow-y: scroll;
}

.image-list ul {
  padding-inline-start: 1em;
}

.left-panel {
  width: 12vw;
}

.right-panel {
  width: 84vw;
  display: block;
  padding: 8;
  height: 100vh;
}

li img {
  display: block;
  width: 100%;
  height: auto;
  padding: 4;
}

li {
  float: left;
  list-style-type: none;
}

input[type="range"] {
  width: 400px;
  margin: 0;
  padding: 8;
}

.main-canvas{
  height: 99vh;
  width: 84vw;
}

.treshold-container{
  position: absolute;
  bottom: 16px;
}

.predict-button {
  margin-left: 8px;
  margin-right: 8px;
}